<html>
	<head>
		<title>Error</title>
	</head>
	<body>
		Fehlermeldung: <%= message %><br>
		Bitrate: <%= bitrate %> kb/s <br>
		Duration: <%= duration %> s <br>
		<a href ="\">Neue Rechnung</a>
			
	</body>
</html>