<html>
	<head>
		<title>Result</title>
	</head>
	<body>
		Bitrate: <%= bitrate %> kb/s <br>
		Duration: <%= duration %> s <br>
		Size: <%= result %> kb <br>
		<a href ="\">Neue Rechnung</a>
	</body>
</html>